html, body{
  height: 100%;
}

.title {
  font-size: 250%;
}

.formatted-links {
  font-size: 70%;
}

.scroll {
  background-color: #26a69a;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
}

.arrow-up {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -10px;
}

.indent {
  margin-top: 40px;
  overflow: hidden;
  background-color: #e0e0e0;
}
